body	{
	background: #e8c3ae;
	padding-bottom: 60px;
}

.pic-container	{
	position: relative;
}

.pic-title-bg-btm	{
	position: absolute;
	bottom: 0%;
	width: 100%;
	height: 10%;
	background-color: rgba(1, 1, 1, 0.6);
	border-radius: 0px 0px 8px 8px;
}

.pic-title-bg-top	{
	position: absolute;
	top: 0%;
	width: 100%;
	height: 10%;
	background-color: rgba(1, 1, 1, 0.6);
	border-radius: 8px 8px 0px 0px;
}

.pic-title	{
	margin: 0;
	position: relative;
	top: 50%;
	-webkit-transform: perspective(1px) translateY(-50%);
	-ms-transform: perspective(1px) translateY(-50%);
	transform: perspective(1px) translateY(-50%);
	text-align: center;
	text-transform: uppercase;
	color: white;
}

.verticalLine-center	{
	position: absolute;
	left: 50%;
	top: -10%;
	bottom: 75%;
	border-left: 5px dotted #3d69ce;
	z-index: -3;
}

.verticalLine-right	{
	position: absolute;
	left: 75%;
	top: -10%;
	bottom: 75%;
	border-left: 5px dotted #3d69ce;
	z-index: -3;
	
}

.hiddenOnLoad	{
	opacity: 0;
}

/*.fadeIn	{
	opacity: 1;
	transition: opacity 2s;
}*/

.img-responsive.first	{
	margin-top: 100px;
}

.img-responsive.last	{
	margin-bottom: 100px;
}

.container-page	{
	background: #f9eee0;
	position: relative;
	z-index: 5;
}

.fadeInShort {
	-webkit-animation: fadeInElement 2.5s; /* Safari and Chrome */
	-moz-animation: fadeInElement 2.5s; /* Firefox */
	-ms-animation: fadeInElement 2.5s; /* Internet Explorer */
	-o-animation: fadeInElement 2.5s; /* Opera */
	animation: fadeInElement 2.5s;
}

.fadeInLong {
	-webkit-animation: fadeInElement 4s; /* Safari and Chrome */
	-moz-animation: fadeInElement 4s; /* Firefox */
	-ms-animation: fadeInElement 4s; /* Internet Explorer */
	-o-animation: fadeInElement 4s; /* Opera */
	animation: fadeInElement 4s;
}

.pic-container a:hover .pic-title-bg-btm, .pic-container a:hover .pic-title-bg-top 	{
	background-color: rgba(30, 30, 80, 0.6);
}







    
@keyframes fadeInElement {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadeInElement {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadeInElement {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
/*@-ms-keyframes fadeInElement {
    from { opacity: 0; }
    to   { opacity: 1; }
}​*/

/* Opera */
/*@-o-keyframes fadeInElement {
    from { opacity: 0; }
    to   { opacity: 1; }
}​*/




 /*BOOTSTRAP OVERRIDES */
 .img-responsive	{
 	margin-top: 60px;
 	border-radius: 8px;
 	
 	/*Remove this with properly sized images??*/
 	width: 100%;
 }

 .navbar-top	{
 	margin-top: 30px;
 	margin-bottom: 40px;
 }

 .navbar-default	{
 	background: #f9eee0;
 }